.user{
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 72vh ;
  position:relative;
  padding-top:1rem;
  @media only screen and (max-width: 1400px) {
    zoom: 0.98;
  }
  .refactor{
    position: absolute;
    display: inline-block;
    left: 89%;
    width: 1rem;
    top:3%;
    cursor: pointer;
  }
  .header-user {
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    @media only screen and (min-width: 1800px) {
      font-size: 24px;
      line-height: 28px;
    }
    .info{
      min-height: 10vh;
      margin-left: 10%;
      div{
        font-family: 'Inter', system-ui;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @media only screen and (min-width: 1800px) {
          font-size: 22px;
          line-height: 28px;
        }
      }
      .part{
        margin-top:15px;
      }
      .leftSide {
        float: left;
        width: 50%;
        text-align: left;
      }

    }

    .avatar{
      @media only screen and (max-width: 1400px) {
        zoom: 0.9;
      }
      display: block;
      .avatarImage {
        margin-left: auto;
        margin-right: auto;
        width:125px;
        height:125px;
        display: inline-block;
        left: 1rem;
        position: relative;
        border-radius: 50%;
      }
      .avatarImageProfile {
        margin-left: auto;
        margin-right: auto;
        height:125px;
        width:125px;
        display: inline-block;
        position: relative;
        border-radius: 50%;
      }
      .avatarStatus {
        z-index: 3;
        right: .7rem;
        width:30px;
        position: relative;
        cursor: pointer;
      }
    }
  }
  .footer-user {
    margin-top: 1rem;
    border-top: 1px solid #727373;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    div{
      display: block;
      text-align: center;
      margin: auto;
      font-family: 'Inter', system-ui;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      @media only screen and (min-width: 1800px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}
.partDesc{
  display: block;
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  img{
    width: 3rem;
    height: 3rem;
  }
}
.partTopUser{
  display: flex;
  flex-direction: row;
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  a{
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 10px;
    vertical-align: text-top;  }
  .likeTopUser{
    position: fixed;
    flex:1;
    padding-left: 3%;
  }
  .commentTopUser{
    position: fixed;
    flex: 3;
    padding-left: 8%;
  }
}

.infoTopUser {
  min-height: 14vh;
  padding-top: 1rem;

  img {
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    width: 1.2rem;
  }
  div {
    cursor: pointer;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    @media only screen and (min-width: 1800px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
