.copyAlert{
  position:fixed;
  width: 45vh;
  bottom:50%;
  height: 3vh;
  z-index: 99;
  margin-left: 13%;
  background-color: white;
  border-radius: 30px;
  border: 3px solid #FFE3FF;
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}
