.headerMobile-verse{
  height: 3.125rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #F1B4BB;
  color: white;
  margin: 0;
  img{
    float: left;
    margin-left: 0.725rem;
  }
  .logo{
    width: 1.625rem;
    float: left;
    padding-top: 0.4rem;
  }
  .proza{
    width: 3.725rem;
    padding-top: 1rem;
  }
  a{
    text-decoration-line: underline;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1rem;
    height: 1rem;
    color:black;
    position:absolute;
    right: 3.5rem;
    padding-top: 1rem;

  }
  .authorTxt{
    text-decoration-line: none;
    max-width: 15%;
  }
  .guest{
    width:2rem;
    margin-top: 0.5625rem;
    float: right;
    margin-right: 1rem;
    height: 2rem;
    border-radius: 50%;
  }
}

@import '../../../styles/colors.scss';

.searchMobile {
  width: 68%;
  padding-left: 7rem;
  position: fixed;
  top: 0.5rem;
  left: 0;
  z-index: 2;
  .search-input {
    display: flex;
    align-items: center;
    height: 1.94rem;
    padding-left: 1rem;
    border-radius: 2.19rem;
    border: 2px solid #727373;
    width: 100%;
    font-size: 0.56rem;
    background: url('../../../assets/images/search.svg') no-repeat calc(100% - 0.94rem) 50%;

    &::placeholder {
      color: black;
    }
  }

  .listMobile{
    background-color: white;
    min-height: 2rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    position: relative;
    bottom: 0;
    z-index: 50;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: bottom;
    line-height: 2rem;
    .postsSearch{
      height: 1rem;
      text-decoration: none;
      color: black;
    }
  }
}
