@import '../../styles/colors.scss';
@import '../../styles/globals.scss';

.container {
    width: 100%;
    min-height: 100vh;

    .left-cotainer {
        width: 40%;

        .logo-image {
            display: block;
            justify-content: center;
            position: absolute;
            
            top: 50%;
            left: 20%;
            max-width: 600px;
            max-height: 600px;
            transform: translate(-50%, -50%);

            img {
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                max-width: 100vh;
            }
        }
    }

    .right-container {
        margin-left: auto;
        min-height: inherit;
        width: 60%;
        background-color: $BG_2;
    }
}