*{
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.verse-page-smallArticle {
  display: block;
  width: 84%;
  height: 100vh;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  position: fixed;
  right: 0;
  .verse-smallArticle {
    position: absolute;
    background-color: white;
    width:48.65%;
    height: 86vh;
    top: 10%;
    bottom: 8%;
    right: 41%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .right-smallArticle{
    position: absolute;
    background-color: white;
    width:22%;
    height: 86%;
    top: 10%;
    bottom: 8%;
    right:9%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .right-btn{
    position: absolute;
    width: 10%;
    height: 2.8rem;
    top: 1%;
    right: 16%;
    box-sizing: border-box;
    background: #FFE3FF;
    border: 3px solid #C0777F;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
  }
  .right-btn2{
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    position: absolute;
    width:10%;
    height: 2.8rem;
    top: 1%;
    right: 4%;
    box-sizing: border-box;
    background: #C0777F;
    border-radius: 10px;
  }
}
.verse-pageArticle {
  right: 0;
  display: block;
  width: 94%;
  height: 100vh;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  background-cover:scope;
  position: fixed;
  .verse-blockArticle {
    height: 86vh;
    position: absolute;
    background-color: white;
    width:44%;
    top: 10%;
    bottom: 8%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
  }
  .rightArticle{
    padding-left: 1.12rem;
    padding-right: 1.12rem;
      position: absolute;
    background-color: white;
    width:20%;
    height: 86%;
    top: 10%;
    bottom: 8%;
    right: 7%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .right-btn{
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    position: absolute;
    width:9%;
    height: 2.8rem;
    top: 1%;
    right: 18%;
    box-sizing: border-box;
    background: #FFE3FF;
    border: 3px solid #C0777F;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .right-btn2{
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    position: absolute;
    width:9%;
    height: 2.8rem;
    top: 1%;
    right: 7%;
    box-sizing: border-box;
    background: #C0777F;
    border-radius: 10px;
    cursor: pointer;
  }
}
.posts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.users{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}


.mobile-verse{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  width: 100%;
  position: absolute;
  background: #FFE3FF url("../../../assets/images/verse-background.png") no-repeat fixed center center;
  min-height: 100%;
  top: 3.125rem;
  .mobileMiddle {
    position: fixed;
    width: 100%;
    .infiniteMobile {
      .verseMobileBlock {
        background-color: white;
        width: 90%;
        height: 80%;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
    }
  }

  .footerMobile-verse{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.125rem;
    background-color: white;
  }
}
