.verse-page-small {
  display: block;
  width: 83%;
  height: 100vh;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  position: fixed;
  right: 0;

  .verse-small {
    position: absolute;
    background-color: white;
    width:52%;
    min-height: 100%;
    top: 8%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
}
  .right-small{
    position: absolute;
    background-color: white;
    width:24%;
    height: 86%;
    top: 8%;
    bottom: 8%;
    right:2%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
}
.verse-page {
  right: 0;
  display: block;
  width: 94%;
  height: 100%;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  background-cover:scope;
  position: fixed;
  .verse-block {
    position: fixed;
    background-color: white;
    width:48%;
    top: 8%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    box-sizing: border-box;
  }
  .right{
    position: fixed;
    background-color: white;
    width:20%;
    height: 86%;
    top: 8%;
    bottom: 8%;
    right:6.5%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
}
  .posts{
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
   }
.users{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

