*{
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.verse-page-small {
  overflow: hidden;
  display: block;
  width: 84%;
  height: 100vh;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  position: fixed;
  right: 0;
  .verse-small {
    position: absolute;
    background-color: white;
    width:53%;
    min-height: 100%;
    top: 10%;
    right: 35%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .verse-blockAddSmall {
    position: absolute;
    background-color: white;
    width:48%;
    top: 10%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    height: 86%;
  }
  .right-small{
    padding-left: 1.12rem;
    padding-right: 1.12rem;
    position: absolute;
    background-color: white;
    width:22%;
    height: 86%;
    top: 10%;
    right:4%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .right-btn{
    position: absolute;
    width: 10%;
    height: 2.7rem;
    top: 1%;
    right: 16%;
    box-sizing: border-box;
    background: #FFE3FF;
    border: 3px solid #C0777F;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
  }
  .right-btn2{
    position: absolute;
    width:10%;
    height: 2.7rem;
    top: 1%;
    right: 4%;
    box-sizing: border-box;
    background: #C0777F;
    border-radius: 10px;
    cursor: pointer;
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
  }

}

.textL{
  margin-top: 0.8rem;
  margin-left: 35%;
  text-decoration: none;
  color: black;
  font-family: 'Comfortaa', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
}
.textR{
  margin-top: 1rem;
  margin-left: 11%;
  text-decoration: none;
  color: black;
  font-family: 'Comfortaa', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
}

.verse-page {
  overflow: hidden;
  right: 0;
  display: block;
  width: 94%;
  height: 100vh;
  background-image: url("../../../assets/images/verse-background.png");
  background-color: #FFE3FF;
  background-cover:scope;
  position: fixed;
  .verse-block {
    position: absolute;
    background-color: white;
    width:48%;
    top: 10%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    box-sizing: border-box;
  }
  .verse-blockAdd {
    position: absolute;
    background-color: white;
    width:43%;
    top: 10%;
    right: 36.6%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    height: 86%;
  }
  .right{
    padding-left: 1.12rem;
    padding-right: 1.12rem;
      position: absolute;
    background-color: white;
    width:20%;
    height: 86%;
    top: 10%;
    right: 7%;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  .right-btn{
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    position: absolute;
    width:9%;
    height: 2.7rem;
    top: 1%;
    right: 18%;
    box-sizing: border-box;
    background: #FFE3FF;
    border: 3px solid #C0777F;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .right-btn2{
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    @media only screen and (min-width: 1800px) {
      zoom: 1.5;
    }
    position: absolute;
    width:9%;
    height: 2.7rem;
    top: 1%;
    right: 7%;
    box-sizing: border-box;
    background: #C0777F;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
}
.posts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.users{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}


.mobile-verse{
  overflow-y: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  width: 100%;
  position: absolute;
  background: #FFE3FF url("../../../assets/images/verse-background.png") no-repeat fixed center center;
  min-height: 100%;
  top: 3.125rem;
  z-index: 1;
  .mobileMiddle {
    width: 100%;
    .infiniteMobile {
      .verseMobileBlock {
        background-color: white;
        width: 90%;
        height: 80vh;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
      .verseHeaderMobileBlock {
        background-color: white;
        width: 90%;
        min-height: 26vh;
        max-height: 33vh;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
      .verseAddMobileBlock {
        background-color: white;
        width: 90%;
        height: 46vh;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
      .verseAddSmallMobileBlock {
        background-color: white;
        width: 90%;
        height: 10vh;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
      .verseMobileBlockComment {
        overflow-y: scroll;
        background-color: white;
        width: 90%;
        min-height: 100%;
        margin: 1.625rem auto 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
      }
    }
  }

  .footerMobile-verse{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.125rem;
    background-color: white;
    z-index: 0;
  }
}
.postsAdd{
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  min-height: 3rem ;
  margin-left: 9%;
  width: 82%;
  position:relative;
  margin-top: 2rem;
  padding-bottom:2rem;
  .addPostSmall{
    top:0.15rem;
    width:2.5rem;
    position: absolute;
    left: 45%;
    cursor: pointer;
  }
}

.postsAddMobile{
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  min-height: 3rem ;
  margin-left: 4%;
  width: 92%;
  position:relative;
  margin-top: 1rem;
  margin-bottom:1rem;
  .addPostSmallMobile{
    top:0.15rem;
    width:2.5rem;
    position: absolute;
    left: 45%;
    cursor: pointer;
  }

}
::-webkit-scrollbar {
  position: absolute;
  width: 7px;
  background-color: #f1f1f1;
  top: 3px;
  bottom: 3px;
  right: 0;
  border-radius: 4px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  position: absolute;
  width: 7px;
  background-color: white;
  top: 3px;
  bottom: 3px;
  right: 0;
  border-radius: 4px;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  position: relative;
  width: 7px;
  background-color: darkgray;
  border-radius: 4px;
  top: 3px;
  bottom: 3px;
  right: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;}
