.postsAddJsx {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  min-height: 78vh;
  width: 82%;
  position: relative;
  padding-bottom:50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  .addPost{
    position: absolute;
    width:6rem;
    top: 40%;
    left: 40%;
    cursor: pointer;
  }
}
.postsAddJsxMobile {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  min-height: 40vh;
  width: 92%;
  position: relative;
  padding-bottom:50px;
  margin: 4% auto;
  .addPost{
    position: absolute;
    width:3rem;
    cursor: pointer;
    top:40%;
    left:42.5%;
  }
}
