.middleMobile{
 background-color: #ffffff;
 box-sizing: border-box;
 border: 3px solid #FFE3FF;
 border-radius: 15px;
 height: 53vh ;
 width: 82%;
 position:relative;
 padding-bottom:50px;
 margin: 7% auto;
}
.lyric{
 margin-right: auto;
 margin-left: auto;
 .txt {
  margin-top: 1rem;
  font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
 }
}
.containerCatMobile{
 display: flex;
 flex-direction: row;
 margin-top: 5%;
}
.categoryMobile{
 height: 1.6rem;
 width: 45%;
 position: static;
 margin-left: 2.5%;
 margin-right: 2.5%;
 text-align: center;
 border: 2px solid #C0777F;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 border-radius: 15px;
 font-family: 'Inter',system-ui;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;
 cursor: pointer;

}
.categorySoloMobile {
 height: 1.6rem;
 width: 44%;
 position: static;
 margin-left: 2.5%;
 margin-right: 2.5%;
 text-align: center;
 border: 2px solid #C0777F;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 border-radius: 15px;
 font-family: 'Inter',system-ui;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 cursor: pointer;
}
.clear{
 cursor: pointer;
 font-family: 'Inter',system-ui;
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 18px;
 display: flex;
 align-items: center;
 text-decoration-line: underline;
float: right;
 margin-right: 4%;
 margin-top: 2.5%;
 color: #1D8AE2;
}
.categoryActiveMobile{
 height: 1.6rem;
 width: 45%;
 position: static;
 margin-left: 2.5%;
 margin-right: 2.5%;
 text-align: center;
 border-radius: 15px;
 font-family: 'Inter',system-ui;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 cursor: pointer;
 background: #FFF3FF;
 border: 2px solid #C0777F;
 box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
