.posts{
 background-color: #ffffff;
 box-sizing: border-box;
 border: 3px solid #FFE3FF;
 border-radius: 15px;
 min-height: 85vh ;
 width: 82%;
 position:relative;
 padding-bottom:50px;

 .header-post{
   font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  img{
   margin-right: 2rem;
   width: 22px;
   float:right;
   display: inline-block;
  }
 }
 .text{
  margin-top: 1rem;
  margin-left: 1rem;
  white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13.31px;
  span {
   white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13.31px;

  }
  .textNext{
   text-decoration-line: underline;
   font-weight: 700;
  }
 }
 .footer-post {
  border-top: 1px solid #727373;
  line-height: 1rem ;
  width: 100%;
  display: block;
  position:absolute;
  bottom:1rem;
  img{
   margin-top: 1rem;
   width: 5%;
   display: inline-block;
   cursor: pointer;
  }
  .first{
   margin-left: 1rem;
  }
  .next{
   margin-left: 1rem;
  }
  .last{
   float:right;
   margin-right: 1rem;
  }
 }
}
.fullAlert {
 top:0;
 position: fixed;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 99;
 backdrop-filter: blur(8px);

 .posts{
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 90vh ;
  width: 40%;
  position:relative;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .header-post{
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   width: 100%;
   display: block;
   margin-left: 1rem;
   img{
    margin-right: 2rem;
    width: 22px;
    float:right;
    display: inline-block;
   }
  }
  .text{
   margin-top: 1rem;
   margin-left: 1rem;
   white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 13.31px;
   line-height: 13.31px;
   span {
    white-space: pre-line;
    display: block;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
   }
  }
 }
}
.complaintAlert{
 top:0;
 padding-top: 5%;
 position: fixed;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 99;
 backdrop-filter: blur(8px);
 padding-bottom: 5%;

 .postsA{
  background-color: #ffffff;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 36.6%;
  position:relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
overflow: auto;
  .header-postA{
   font-family: 'Inter', system-ui;
   margin-left: 0;
   margin-right: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   img{
    margin-right: 2rem;
    width: 22px;
    float:right;
    display: inline-block;
   }
  }
  .text{
   margin-top: 1rem;
   margin-left: 1rem;
   white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 13.31px;
   line-height: 13.31px;
   span {
    white-space: pre-line;
    display: block;
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
   }
  }
 }
}
.expandedBlock{
 margin-top: 3%;
 margin-left: 15%;
}
.inputExpandable{
 border: 1px solid #000000;
 border-radius: 10px;
 height: 15vh;
 width:80%;
 margin-left: 0;
}
.sentImg{
 width: 1.7rem;
 float: right;
 padding-top:10%;
 margin-right: 1rem;
}
.expandedArrow{
width: 1rem;
 float: right;
margin-right: 1rem;
 margin-top:0.5rem;
}
.textA{
 white-space: pre-line;
 display: block;
 font-family: 'Inter', system-ui;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 2rem;
 margin-right: 1rem;
 border-bottom: 1px solid #000000;
}
.addPost{
 position: fixed;
width:6rem;
 top: 45%;
 left: 40%;
}
