.posts{
 background-color: #ffffff;
 box-sizing: border-box;
 border: 3px solid #FFE3FF;
 border-radius: 15px;
 min-height: 85vh ;
 width: 82%;
 position:relative;
 padding-bottom:50px;

 .header-post{
   font-family: 'Inter', system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  img{
   margin-right: 2rem;
   width: 22px;
   float:right;
   display: inline-block;
  }
 }
 .text{
  margin-top: 1rem;
  margin-left: 1rem;
  white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13.31px;
  span {
   white-space: pre-line;
   display: block;
   font-family: 'Inter', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13.31px;

  }
  .textNext{
   text-decoration-line: underline;
   font-weight: 700;
  }
 }
 .footer-post {
  border-top: 1px solid #727373;
  line-height: 1rem ;
  width: 100%;
  display: block;
  position:absolute;
  bottom:1rem;
  img{
   margin-top: 1rem;
   width: 5%;
   display: inline-block;
  }
  .first{
   margin-left: 1rem;
  }
  .next{
   margin-left: 1rem;
  }
  .last{
   float:right;
   margin-right: 1rem;
  }
 }
}
