.divLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #FFF;
}
.divRight {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #F1B4BB;
}