@import '../../styles/colors.scss';

.button {
    min-width: auto;
    padding: 0 0.6rem;
    height: 1.56rem;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 0.88rem;
    color: $BG_1;
    cursor: pointer;
    border-radius: 0.63rem;
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:active {
        scale: 0.95;
    }

    .leftIcon {
        margin-right: 0.31rem;
    }

    .rightIcon {
        margin-left: 0.31rem;
    }
}

.default {
    background-color: $BUTTON_BG;
    
    &:hover:not(.disabled) {
        opacity: 0.95;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    }
}

.transparent {
    background-color: transparent;
    color: $TEXT;
}

.bordered {
    background-color: transparent;
    color: $TEXT;
    border: 0.31rem solid $BUTTON_BG;
}


.disabled {
    opacity: 0.5;
    cursor: default;
}

.loading-icon {
    animation: rotate-animation 1s linear infinite;
}

@keyframes rotate-animation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}