.input > input {
    width: 100%;
    display: block;
    padding: 16px 7px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
    outline: none;

    &::placeholder {
        color: #000000;
    }
}

.input {
    width: 100%;
    display: flex;
}
