.userTop {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 82%;
  position: relative;
  @media only screen and (max-width: 1400px) {
    zoom: 0.98;
  }
  overflow: hidden;
  .headerTop {
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 1rem;
    overflow: hidden;
    @media only screen and (min-width: 1800px) {
      font-size: 24px;
      line-height: 28px;
    }
      border-bottom: 0;
    .infoTop {
      height:4rem;
      padding-top: 1rem;
      display: block;
      font-family: 'Inter', system-ui;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      div {
        overflow: hidden;
        cursor: pointer;
        font-family: 'Inter', system-ui;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-align: left;
        @media only screen and (min-width: 1800px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      .partTop{
        display: inline-block;
        width: 65%;
        a{
          cursor: default;
          vertical-align: text-top;
        }
      }
      .partTop2{
        display: inline-block;
        cursor: default;
        float: right;
        margin-right: 1rem;
        a{
          cursor: default;
          vertical-align: 0.5vh;
          @media only screen and (min-width: 1800px) {
            font-size: 17px;
            line-height: 20px;
          }
        }
      }
      border-bottom: 3px solid #FFE3FF;
    }

    img {
      width: 1.2rem;
      cursor: default;
    }
  }
}

