.userTop {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 82%;
  position: relative;
  padding-top: 1rem;
  @media only screen and (max-width: 1400px) {
    zoom: 0.98;
  }

  .headerTop {
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    @media only screen and (min-width: 1800px) {
      font-size: 24px;
      line-height: 28px;
    }

    .infoTop {
      height: 9vh;
      padding-top: 0.5rem;
      div {
        cursor: pointer;
        font-family: 'Inter', system-ui;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;

        @media only screen and (min-width: 1800px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }

    img {
      @media only screen and (max-width: 1400px) {
        zoom: 0.9;
      }
      @media only screen and (min-width: 1800px) {
        zoom: 1.5;
      }
      width: 1.2rem;
    }
  }
}
.partTop{
  a{
vertical-align: text-top;  }
  .likeTop{
    position: fixed;
    flex: 1;
    margin-left: 4%;
  }
  .commentTop{
    flex:3;
    position: fixed;
    margin-left: 9%;
  }
}

