.userTop {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid #FFE3FF;
  border-radius: 15px;
  height: 82%;
  position: relative;
  padding-top: 1rem;
  @media only screen and (max-width: 1400px) {
    zoom: 0.98;
  }
  overflow: hidden;
  .headerTop {
    @media only screen and (max-width: 1400px) {
      zoom: 0.9;
    }
    font-family: 'Inter', system-ui;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 1rem;
    overflow: hidden;
    @media only screen and (min-width: 1800px) {
      font-size: 24px;
      line-height: 28px;
    }
      border-bottom: 0;
    .infoTop {
      height: 4rem;
      padding-top: 1rem;
      display: flex;
      div {
        overflow: hidden;
        width: 70%;
        margin-left: 1rem;
        cursor: pointer;
        font-family: 'Inter', system-ui;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        text-align: left;
        @media only screen and (min-width: 1800px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      border-bottom: 3px solid #FFE3FF;
    }

    img {
      @media only screen and (max-width: 1400px) {
        zoom: 0.9;
      }
      @media only screen and (min-width: 1800px) {
        zoom: 1.5;
      }
      width: 1.2rem;
      cursor: default;
    }
  }
}
.partTop{
  a{
    cursor: default;
    vertical-align: text-top;
  }
}
.partTop2{
    cursor: default;
    vertical-align: text-top;
  display: flex;
  width: 6rem;
  position: absolute;
  float: right;
  right: -40%;
  a{
    cursor: default;
    vertical-align: top;
  }
  .likeTop{
    flex:1;
  }
}
